/* Card SERVICES
============================= */

.card-services .card-title {
  margin: 0;
}

.card-services a {
  display: block;
  padding: 2rem;
  background-color: var(--color-light-grey);
}

.card-services a:hover {
  color: var(--color-white);
  background: var(--color-primary);
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

/* Section Styles */
.section-services,
.section-works,
.section-about-us,
.section-latest-news,
.section-testimonial,
.section-contact {
  padding: 2rem; /* Adjust padding as needed */
  background-color: var(--color-light-grey); /* Example background */
  border-radius: 8px; /* Example border radius */
  margin: 1rem 0; /* Example margin */
}

/* Add any additional styles you would like for the sections */
